.lable-size {
    font-size: 19px;
    font-weight: bold;
    color: #437CA7;
  }
  .createGroup{
    input,textarea{
        background: #EEEEEE;
        border: none;
    }
  }
  .nameSet{
    width:90%;
  }


.width-alignment {
    max-width: 90%;
    margin: 0 auto;
}

tr.veiw-items {

    li {
        height: 30px;
        line-height: 30px;

        a {
            height: 30px;
            line-height: 20px;

        }
    }

    .custom-dropdown {
        inset: 0px auto auto -119px !important;
        //background: #F0F0F0;
        padding: unset;
    }
}

 tr.veiw-items:hover {
    background:#003A5C;
    color:#fff;
    .actionbtn {
        background: #fff !important;
        color:#111;
        border: none;

    }

}
.dropdown-select.filter {
    width: 40%;
    float: right;
}
.dropdown-select.filter {
    width: 40%;
    float: right;
}

.dropdown-select {
    select {
        width: 100%;
        height: 40px;
        background: #eeeeee;
        border: none;
        padding-left: 10px;
        border-radius: 5px;
    }
}
.padded{
    padding-bottom: 20px;
}
.calendorselect {
    height: 39px;
    background-color: #EEEEEE;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    font-weight: 600;
    background-size: 20px 18px !important;
    cursor: pointer;
    margin-top: 10px;
	margin-left: 0;
	width: 100%;
}