<div class="row width-alignment">
   <div class="col-12">
      <div class="row">
         <div class="col-12 ">
            <div class="timesheettitle margin-div">Timesheet Entry :</div>
            <div class="row  margin-div">
              
                  <div class="col-10">
                     <!-- <a href="#" class="selectprior optionhigh active"> Week</a>
                            <a href="#" class="selectprior optionlow optionaling"> Month</a> -->
                     <a [class.active]="viewMode=='week'" (click)="viewMode='week';weekView()"
                        class="selectprior optionhigh active"> Week</a>
                     <a [class.active]="viewMode=='month'" (click)="viewMode='month';monthView()"
                        class="selectprior optionlow optionaling"> Month</a>

                  </div>
                  <div class="col-2 csv-download">
                     <input type="button" class="btn btn-primary float-right" value="Download as CSV" (click)="downloadCSV()">
                 </div>
               
            </div>
            <div class="row  margin-div">
               <div class="col-2">
                  <label for="title" class="fontbold"> From</label>
                  <div class="input-group dates">
                     <span *ngIf="viewMode=='week'">{{projectsMember?.dates?.start}}</span>
                     <span *ngIf="viewMode=='month'">{{projectsMember?.dates?.start}}</span>
                  </div>

               </div>
               <div class="col-2">
                  <label for="title" class="fontbold"> To</label>

                  <div class="input-group dates">
                     <span *ngIf="viewMode=='week'"> {{projectsMember?.dates?.end}}</span>
                     <span *ngIf="viewMode=='month'"> {{projectsMember?.dates?.end}}</span>
                  </div>
               </div>
               <div class="col-1 fa-icon">
                  <div *ngIf="viewMode=='week'" class="itemlist">
                     <i class="fa fa-thin fa-chevron-left" aria-hidden="true"  (click)="preAndNextWeek(projectsMember?.dates?.prev)"></i> 
                     <i class="fa fa-thin fa-chevron-right" aria-hidden="true" (click)="preAndNextWeek(projectsMember?.dates?.next)"></i>
                     <!-- <img src="assets/img/right.PNG" (click)="preAndNextWeek(projectsMember?.dates?.prev)"
                        class="lefticon">
                     <img src="assets/img/left.PNG" (click)="preAndNextWeek(projectsMember?.dates?.next)"
                        class="righticon"> -->
                  </div>
                  <div *ngIf="viewMode=='month'" class="itemlist">
                  <i class="fa fa-thin fa-chevron-left" aria-hidden="true"  (click)="preAndNextMonth(projectsMember?.dates?.prev)"></i> 
                  <i class="fa fa-thin fa-chevron-right" aria-hidden="true" (click)="preAndNextMonth(projectsMember?.dates?.next)"></i>
                  </div>

               </div>
               <div class="col-7  csv-download">
                  <div class="col-sm-6">
                      <div class="form-group name-set float-right">
                        <div class="input-group group-custom-align court" id="search">
                          <input type="text"
                                 class="form-control textbox"
                                 placeholder="Search.."
                                 [(ngModel)]="searchTeam" />
                          <img src="assets/img/search.svg"
                               class="calimg calitem input-group-append searchimg">
                        </div>
                      </div>
                    </div>
              </div>

            </div>
         </div>
      </div>
   </div>

</div>
<!-- <div class="row width-alignment">
   <div class="col-sm-12">
      <form>
         <select class="form-select calendorselect">
            <option>Project</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
         </select>
         <select class="form-select  calendorselect">
            <option>Task</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
         </select>
         <select class="form-select  calendorselect">
            <option>Billable</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
         </select>
         <select class="form-select  calendorselect">
            <option>Clients</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
         </select>
         <select class="form-select  calendorselect">
            <option>Team Member</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
         </select>
      </form>
   </div>
</div> -->
<!-- calendor select drodown  end -->
<!-- calendor select dorpdown 2 row begin-->

<!-- calendor select dropdown 2 row ends -->
<div [ngSwitch]="viewMode">
   <div *ngSwitchCase="'week'">
      <div class="row width-alignment ">
         <ng-container>
            <div class="table-responsive-sm  gridcalendor">
               <table class="table table-bordered tblcalendor">
                  <thead>

                     <tr style="border-top: 1px solid #0000003d;">
                        <th>Case Number</th>
                         <!-- <img src="assets/img/SORT.PNG" class="sortico" (click)="projectWeekSort('caseNo')"> -->
                        <th>Project</th>
                         <!-- <img src="assets/img/SORT.PNG" class="sortico" (click)="projectWeekSort('projectName')"> -->
                        <th>Client Name </th>
                        <!-- <img src="assets/img/SORT.PNG" class="sortico" (click)="projectWeekSort('clientNames')"> -->
                        <th>Team Member - Rate </th>
                        <th>Billable<br>(Hours)</th>
                        <th>Non - Billable<br>(Hours)</th>
                        <th>Total<br>(Hours)</th>
                     </tr>
                  </thead>
                  <tbody *ngIf="list?.length == 0">
                     <tr>
                        <td colspan="7">
                           <p style="text-align: center;">No Records</p>
                        </td>
                     </tr>
                  </tbody>
                  <tbody>
                     <ng-container *ngFor="let item of list|filter:searchTeam">
                        <tr>
                           <td class="projectN" [attr.rowspan]="getLength(item.teamMembers.length)">{{item.caseNo}}
                           </td>
                           <td class="projectN" [attr.rowspan]="getLength(item.teamMembers.length)">{{item.projectName}}
                           </td>
                           <td class="projectN" [attr.rowspan]="getLength(item.teamMembers.length)"
                              [innerHTML]="getClientNames(item.clientNames)">
                           </td>
                           <ng-container *ngIf="item.teamMembers.length != 0">
                              <td>{{item['teamMembers'][0]['name']}}</td>
                              <td>{{item['teamMembers'][0]['billableHours']}}</td>
                              <td>{{item['teamMembers'][0]['nonBillablehours']}}</td>
                              <td>{{item['teamMembers'][0]['total']}}</td>
                           </ng-container>
                           <ng-container *ngIf="item.teamMembers.length == 0">
                              <td></td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </ng-container>

                        </tr>
                        <ng-container *ngFor="let item of item.teamMembers; let tIndex= index;">
                           <tr *ngIf="tIndex!=0">
                              <td>{{item['name']}}</td>
                              <td>{{item['billableHours']}}</td>
                              <td>{{item['nonBillablehours']}}</td>
                              <td>{{item['total']}}</td>
                           </tr>
                        </ng-container>
                     </ng-container>
                     <ng-container>
                        <tr>
                           <td colspan="4" style="text-align: center; font-weight: 600;">Total</td>
                           <td>{{grandTotal?.billable}}</td>
                           <td>{{grandTotal?.nonbillable}}</td>
                           <td>{{grandTotal?.total}}</td>
                        </tr>
                     </ng-container>
                  </tbody>
               </table>
            </div>
         </ng-container>
      </div>
   </div>
   <div *ngSwitchCase="'month'">
      <div class="row width-alignment ">
         <ng-container>
            <div class="table-responsive-sm  gridcalendor">
               <table class="table table-bordered tblcalendor">
                  <thead>

                     <tr style="border-top: 1px solid #0000003d;">
                        <th>Case Number </th>
                        <th>Project </th>
                        <th>Client Name </th>
                        <th>Team Member - Rate</th>
                        <th>Billable<br>(Hours)</th>
                        <th>Non - Billable<br>(Hours)</th>
                        <th>Total<br>(Hours)</th>
                     </tr>
                  </thead>
                  <tbody *ngIf="list?.length == 0">
                     <tr>
                        <td colspan="7">
                           <p style="text-align: center;">No Records</p>
                        </td>
                     </tr>
                  </tbody>
                  <tbody>
                     <ng-container *ngFor="let item of list|filter:searchTeam">
                        <tr>
                           <td class="projectN" [attr.rowspan]="getLength(item.teamMembers.length)">{{item.caseNo}}
                           </td>
                           <td class="projectN" [attr.rowspan]="getLength(item.teamMembers.length)">{{item.projectName}}
                           </td>
                           <td class="projectN" [attr.rowspan]="getLength(item.teamMembers.length)"
                              [innerHTML]="getClientNames(item.clientNames)">
                           </td>
                           <ng-container *ngIf="item.teamMembers.length != 0">
                              <td>{{item['teamMembers'][0]['name']}}</td>
                              <td>{{item['teamMembers'][0]['billableHours']}}</td>
                              <td>{{item['teamMembers'][0]['nonBillablehours']}}</td>
                              <td>{{item['teamMembers'][0]['total']}}</td>
                           </ng-container>
                           <ng-container *ngIf="item.teamMembers.length == 0">
                              <td></td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </ng-container>

                        </tr>
                        <ng-container *ngFor="let item of item.teamMembers; let tIndex= index;">
                           <tr *ngIf="tIndex!=0">
                              <td>{{item['name']}}</td>
                              <td>{{item['billableHours']}}</td>
                              <td>{{item['nonBillablehours']}}</td>
                              <td>{{item['total']}}</td>
                           </tr>
                        </ng-container>
                     </ng-container>
                     <ng-container>
                        <tr>
                           <td colspan="4" style="text-align: center; font-weight: 600;">Total</td>
                           <td>{{grandTotal?.billable}}</td>
                           <td>{{grandTotal?.nonbillable}}</td>
                           <td>{{grandTotal?.total}}</td>
                        </tr>
                     </ng-container>
                  </tbody>
               </table>
            </div>
         </ng-container>
      </div>
   </div>
</div>